<div class="row">
  <div class="col-12 m-1">
    <h3>#{{ticket?.id}}-{{ticket?.name}}</h3>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">
        Description: {{ticket?.description}}
      </li>
      <li class="list-group-item">
        Updated at: {{ ticket?.updated_at | date: 'dd-MMM-yyyy HH:mm:ss' }}
      </li>
      <li class="list-group-item">
        Submitted at: {{ ticket?.created_at | date: 'dd-MMM-yyyy HH:mm:ss' }}
      </li>

    </ul>
  </div>
</div>

<div class="row mt-1">
  <div class="col-6 text-left">
    <a class="btn btn-dark mr-1" routerLink="/tickets">Ticket List</a>
    <a class="btn btn-danger" (click)="onDelete(ticket)">Delete</a>
  </div>
  <div class="col-6 text-right">
    <a class="btn btn-primary" routerLink="/tickets/{{ticket?.id}}/update">Update</a>
  </div>
</div>
